<!DOCTYPE html>
<html>

<head>
<title>Bookmark Manager by @dwatson62</title>
</head>

<body>
  <div class="container">
    <% if flash[:errors] && !flash[:errors].empty? %>
      <div class="alert alert-danger" role="alert">
  Sorry, there were the following problems with the form.
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-warning" role="alert">
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
  </div>
    <% end %>
  <% if current_user %>
    Welcome, <%= current_user.email %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type="submit" class="btn btn-primary" value='Sign out'>
    </form>
  <% end %>


<div class="vertical-align">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
  <%= yield %>
      </div>
    </div>
</div>

</div>
</div>
</div>
</body>

</html>